<div class="row justify-content-center mt-2">
  <div class="col-12 col-sm-12">
  
<form>
  <div class="form-row rounded-0">
	
    <div class="form-group col-md-2">
      <input type="text" class="form-control rounded-0" id="startdate" placeholder="Start Date">
    </div>
    <div class="form-group col-md-2">
      <input type="text" class="form-control rounded-0" id="todate" placeholder="To Date">
    </div>
    <div class="form-group col-md-2">
      <button ng-click="inprogress()" class="btn btn-primary mx-sm-1 btn-add rounded-0">
        <i class="fa fa-print"></i> Preview
      </button>	
    </div>	
    <div class="form-group col-md-6 text-right">
      <button ng-click="invite()" class="btn btn-info mx-sm-1 btn-add rounded-0">
        <i class="fa fa-plus"> </i> Add New Record
      </button>
    </div>		
  </div>  
</form>    
  </div>
</div>


<div class="row justify-content-center mt-2 mb-2">
  <div class="col-12 col-sm-12">
    <div class="table-responsive mb-3">
      <table class="table table-hover table-sm">
        <thead>
          <tr class="bg-light text-muted">
            <th scope="col" rowspan="2" class="border text-center">No.</th>
			<th scope="col" rowspan="2" class="border text-left">&nbsp; Date Register</th>
            <th scope="col" rowspan="2" class="border">&nbsp; Name</th>
            <th scope="col" rowspan="2" class="border">&nbsp; Email</th>			
			<th scope="col" colspan="3" class="border text-center">Subscribe Periode</th>	
			<th scope="col" rowspan="2" class="border text-center">Active</th>
            <th scope="col" rowspan="2" class="border text-center">Actions</th>
          </tr>
          <tr class="bg-light text-muted">
			<th scope="col" class="border text-center">Weekly</th>		  
            <th scope="col" class="border text-center">Monthly</th>
			<th scope="col" class="border text-center">Log</th>
          </tr>		  
        </thead>

        <body>
          <tr ng-repeat="user in users" class="bg-white">
            <td class="text-center border" width='5%'>{{ $index + 1 }}.</td>
            <!--<td class="{{user.severity == 'Info'?' text-success':' text-warning'}}">&nbsp;{{ user.severity }}</td>-->
			<td class="text-left border">&nbsp; <i class="fa fa-calendar-alt"></i> {{ user.created_date }}</td>
            <td class="text-left border">&nbsp; {{ user.fullname }}</td>
            <td class="text-left border">&nbsp;{{ user.email }}</td>	
			<td class="text-center border"><button class="btn {{user.periode_weekly == 'Y'?' btn-success':' btn-secondary'}} btn-sm rounded-0" ng-click="check_box(user,'Weekly')">{{ user.periode_weekly }}</button></td>	
			<td class="text-center border"><button class="btn {{user.periode_monthly == 'Y'?' btn-success':' btn-secondary'}} btn-sm rounded-0" ng-click="check_box(user,'Monthly')">{{ user.periode_monthly }}</button></td>	
			<td class="text-center border"><button class="btn btn-warning text-light btn-sm rounded-0" ng-click="logsubscribe(user)"><i class="fa fa-chart-bar"></i></button></td>
			<td class="text-center border"><button class="btn btn-sm rounded-circle {{user.status_active == 'Y'?' btn-success ':' btn-danger'}}" ng-click="inprogress()"><i class="fa fa-{{user.status_active == 'Y'?'user-check':'user-slash'}}"></i></button></td>	
            <!--<td class="{{user.status == 'Unresolved'?' text-danger':''}}">&nbsp;{{ user.status }}</td>-->
            <td class="text-center">
			<button class="btn btn-primary btn-sm rounded-0" ng-click="inprogress()"><i class="fa fa-paper-plane"></i> To Email</button>
              <button class="btn btn-info btn-sm rounded-0" ng-click="update(user)"><i class="fa fa-pencil-alt"></i> Edit</button>
              <button class="btn btn-info btn-sm rounded-0" ng-click="delete(user)"><i class="fa fa-times"></i> Delete</button>              
            </td>
          </tr>
          </tbody>
      </table>
    </div>    
  </div>
</div>